page-feed {
    h2.feed_title {
        color: red;
        font-weight: bold;
    }

    p.feed_date {
        color: green;
    }
    p.feed_text {
        color: #9f00ff;
        font-family: serif;
    }
}
